<section class="section--one">
  <!-- hero -->
  <div class="hero">
    <h4 class="hero__heading">Free WA Divorce Papers!</h4>
    <div class="hero__text">
      JDivorce let's you prepare your divorce papers online for free.  You just have to answer questionnaires which are designed by lawyers to be simple for do-it-yourself yet thorough to cover nearly every situation. 
    </div>
  </div>
  <!-- hero -->
  <!-- plans -->
  <div class="plans">
    <!-- plan item -->
    <div class="plans__item">
      <i class="plans__item-icon">
        <svg viewBox="0 0 106 65" preserveAspectRatio="xMinYMin meet" id="icon-plan-svg" width="100%" height="100%">
          <g fill="none" fill-rule="evenodd">
            <rect fill="#D8D8D8" width="78" height="55.98" rx="3"></rect>
            <rect fill="#FFF" x="3.056" y="3" width="71.944" height="45.046" rx="1"></rect>
            <rect fill="#D8D8D8" x="72" y="10" width="34" height="53.81" rx="2"></rect>
            <rect fill="#FFF" x="75" y="13" width="28" height="47" rx="1"></rect>
            <rect fill="#D8D8D8" x="58" y="29" width="22" height="35.806" rx="2"></rect>
            <rect fill="#FFF" x="61" y="32.157" width="16" height="28.843" rx="1"></rect>
            <path d="M33 55s0 6-1 7-5 1-5 1h12.95c6.096 0 .05-8 .05-8" stroke="#D8D8D8" fill="#D8D8D8"></path>
            <path d="M45.672 55s0 6 1 7 5 1 5 1h-12.95c-6.096 0-.05-8-.05-8" stroke="#D8D8D8" fill="#D8D8D8"></path>
          </g>
        </svg>
      </i>
      <h4 class="plans__item-heading">Learn about divorce (Free)</h4>
      <ul class="plan-list">
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Child custody</span>
        </li>
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Safeguaring credit cards, financials</span>
        </li>
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>How the assets are split</span>
        </li>
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Relocating to another state with children</span>
        </li>
      </ul>
      <a routerLink="http://blog.jdivorce.com/" class="plans__button">
        {{"home.help.keep_reading" | translate}}
      </a>
    </div>
    <!-- plan item -->
    <!-- plan item -->
    <div class="plans__item">
      <i class="plans__item-icon">
        <!-- <svg viewBox="0 0 82 66" preserveAspectRatio="xMinYMin meet" id="icon-help-svg" width="100%" height="100%">
          <g stroke="#D8D8D8" stroke-width="3" fill="none" fill-rule="evenodd">
            <path d="M25.136 45.571h32.348a4.007 4.007 0 0 0 4.008-4.001V6.002A3.997 3.997 0 0 0 57.496 2h-51.5A4.004 4.004 0 0 0 2 6.002V41.57a4.001 4.001 0 0 0 4.004 4.001h7.234v8.044l11.898-8.044z"></path>
            <path d="M65.605 57.986H46.984c-2.22 0-4-1.795-4-4.008V34.832a3.994 3.994 0 0 1 3.996-4.008h29.023A4 4 0 0 1 80 34.832v19.146a3.992 3.992 0 0 1-3.991 4.008h-3.001V63l-7.403-5.014z"
              fill="#FFF"></path>
          </g>
        </svg> -->


<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
<g>
  <polygon style="fill:#F2FAFF;" points="14.5,33.5 14.5,1.5 30.793,1.5 38.5,9.207 38.5,33.5   "/>
  <g>
    <path style="fill:#788B9C;" d="M30.586,2L38,9.414V33H15V2H30.586 M31,1H14v33h25V9L31,1L31,1z"/>
  </g>
</g>
<g>
  <polygon style="fill:#FFFFFF;" points="30.5,9.5 30.5,1.5 30.793,1.5 38.5,9.207 38.5,9.5   "/>
  <g>
    <path style="fill:#788B9C;" d="M31,2.414L37.586,9H31V2.414 M31,1h-1v9h9V9L31,1L31,1z"/>
  </g>
</g>
<rect x="19" y="15" style="fill:#788B9C;" width="15" height="1"/>
<rect x="19" y="18" style="fill:#788B9C;" width="12" height="1"/>
<rect x="19" y="21" style="fill:#788B9C;" width="15" height="1"/>
<rect x="19" y="24" style="fill:#788B9C;" width="12" height="1"/>
<rect x="19" y="27" style="fill:#788B9C;" width="15" height="1"/>
<g>
  <polygon style="fill:#FFFFFF;" points="1.5,38.5 1.5,6.5 17.793,6.5 25.5,14.207 25.5,38.5  "/>
  <g>
    <path style="fill:#788B9C;" d="M17.586,7L25,14.414V38H2V7H17.586 M18,6H1v33h25V14L18,6L18,6z"/>
  </g>
</g>
<g>
  <polygon style="fill:#FFFFFF;" points="17.5,14.5 17.5,6.5 17.793,6.5 25.5,14.207 25.5,14.5  "/>
  <g>
    <path style="fill:#788B9C;" d="M18,7.414L24.586,14H18V7.414 M18,6h-1v9h9v-1L18,6L18,6z"/>
  </g>
</g>
<rect x="6" y="19" style="fill:#788B9C;" width="15" height="1"/>
<rect x="6" y="22" style="fill:#788B9C;" width="12" height="1"/>
<rect x="6" y="25" style="fill:#788B9C;" width="15" height="1"/>
<rect x="6" y="28" style="fill:#788B9C;" width="12" height="1"/>
<rect x="6" y="31" style="fill:#788B9C;" width="15" height="1"/>
</svg>


      </i>
      <h4 class="plans__item-heading">Get Divorce Papers (Free)</h4>
      <ul class="plan-list">
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>View divorce process for your situation</span>
        </li>
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Covers nearly all situations</span>
        </li>
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Simple questions</span>
        </li>
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Lawyers' tips & videos</span>
        </li>
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Download papers as PDF, WORD</span>
        </li>
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Private: not sent to government</span>
        </li>
      </ul>
      <button class="plans__button plans__button--active" (click)="beginApplication()">
        {{"home.banner.button_text" | translate}}
      </button>
    </div>
    <!-- plan item -->
    <!-- plan item -->
    <div class="plans__item">
      <i class="plans__item-icon">
        <svg viewBox="0 0 82 66" preserveAspectRatio="xMinYMin meet" id="icon-help-svg" width="100%" height="100%">
          <g stroke="#D8D8D8" stroke-width="3" fill="none" fill-rule="evenodd">
            <path d="M25.136 45.571h32.348a4.007 4.007 0 0 0 4.008-4.001V6.002A3.997 3.997 0 0 0 57.496 2h-51.5A4.004 4.004 0 0 0 2 6.002V41.57a4.001 4.001 0 0 0 4.004 4.001h7.234v8.044l11.898-8.044z"></path>
            <path d="M65.605 57.986H46.984c-2.22 0-4-1.795-4-4.008V34.832a3.994 3.994 0 0 1 3.996-4.008h29.023A4 4 0 0 1 80 34.832v19.146a3.992 3.992 0 0 1-3.991 4.008h-3.001V63l-7.403-5.014z"
              fill="#FFF"></path>
          </g>
        </svg>
      </i>
      <h4 class="plans__item-heading">Talk to a Lawyer ($150-$250)</h4>
      <ul class="plan-list">
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Free consultation</span>
        </li>
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Low prices (only via JDivorce)</span>
        </li>
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Qualified and local to your city</span>
        </li>
        <li class="plan-list__item">
          <svg viewBox="0 0 32.33 27.67" preserveAspectRatio="xMinYMin meet" id="icon-check-svg" width="100%" height="100%">
            <polygon points="9.6 27.68 0 18.07 4.95 13.13 9.6 17.77 27.38 0 32.33 4.95 9.6 27.68"></polygon>
          </svg> <span>Chat, make appointments now!</span>
        </li>
      </ul>
      <button class="plans__button" (click)="hireLawyer()">
        {{"home.help.lawyers" | translate}}
      </button>
    </div>
    <!-- plan item -->

  </div>
  <!-- plans -->
</section>

<section class="section--two">
  <div class="benefits">
    <h5 class="benefits__heading">Why JDivorce</h5>
    <p class="benefits__text">Someone prepares their papers here every 30 minutes!</p>
    <ul class="benefits__list">
      <li class="benefits__list-item">
        <h3>Accurate</h3>
        <p>Designed by lawyers and computer scientists to be 100% accurate!</p>
      </li>
      <li class="benefits__list-item">
        <h3>Custom-fit</h3>
        <p>Content is very specific to your situation & county.</p>
        <ul style="text-align:left">
          <li>With or without children</li>
          <li>Contested or Uncontested</li> 
          <li>Military families</li> 
          <li>Children with other spouses</li>
          <li>Spouse in a different country</li>          
          <li>Missing spouse</li> 
          <li>Sexual abuse</li> 
          <li>See complete list</li> 
        </ul>
      </li>
      <li class="benefits__list-item">
        <h3>Secure & Private</h3>
        <p>Your data is secured using federal government standards.</p>
        <ul style="text-align:left">
          <li>Data is secured and kept private</li>
          <li>Privacy policy compliant with EU <a href="https://eugdpr.org/">GDPR</a></li>
          <li>Data security compliant with  US <a href="https://www.ftc.gov/tips-advice/business-center/privacy-and-security/data-security">Federal Trade Commission</a></li>          
        </ul>

      </li>
    </ul>
  </div>
</section>




<!-- <section class="section--three">
  <div class="support">
    <h4 class="support__heading">
      CUSTOMER SUPPORT
    </h4>
    <p class="support__text">
      Need help with your subscription?
    </p>

    <div class="support__chat">
      <h4>Chat online</h4>
      <p>with a Customer Care advocate.</p>
      <button class="support__chat-button">
        BEGIN CHAT
      </button>
    </div>

    <ul class="support__contact">
      <li class="support__contact-item">
        <a href="#">VIEW FAQ</a>
        <p>Find answers to commonly asked questions.</p>
      </li>
      <li class="support__contact-item">
        <a href="tel:-12065698669">CALL US - 1 (206) 569-8669</a>
        <p>Monday–Friday: 7 a.m.–10 p.m. E.T.</p>
        <p>Saturday–Sunday: 7 a.m.–3 p.m. E.T.</p>
      </li>
    </ul>
  </div>
</section> -->



<section class="section--four">
  <div class="recent-users">
    <h5 class="recent-users__heading">Recent Users</h5>
    <ul class="recent-users__list">
      <li class="recent-users__list-item">
        <h4>August 25th 2018, Bremerton</h4>
        <p>"JDivorce accurately created my divorce application the divorce application. I filed at King County and everything
          went fine. I liked that I could download the application in WORD format so I could easily make changes later."
          - Beth C</p>
      </li>
      <li class="recent-users__list-item">
        <h4>August 7th 2018, Seattle</h4>
        <p>"We were able to file application for our divorce in two hours. We saved about $150 compared with similar other
          online sofware." -Harris W</p>
      </li>
      <li class="recent-users__list-item">
        <h4>July 3rd 2018, Tacoma</h4>
        <p>"JDivorce made the paperwork simpler during a very difficult period in my life." -Jen T</p>
      </li>
    </ul>
  </div>
</section>



<section class="section--four">
  <div class="recent-users">
    <h5 class="recent-users__heading">Advisory Board</h5>
    <ul class="recent-users__list">
      <li class="recent-users__list-item" style="text-align:center">
       <img src="assets/images/deirdre_round.png" width="120x"/> <br/><br/>
        <h4>Dierdre Bowen</h4>

        <p style="text-align:justify">Dr. Deirdre Bowen is an associate professor at Seattle Univeristy School of Law, and Director at the Madrid Study Abroad Program in Law & Policy. She's a nationally recognized expert in affirmative action, nontraditional families, and the legal system.</p>
      </li>
      <li class="recent-users__list-item" style="text-align:center">
        <img src="assets/images/aurora_round.png" width="120x"/><br/><br/>
        <h4>Aurora Martin</h4>

        <p style="text-align:justify">Aurora has served 20+ years in Washington legal aid as a public interest lawyer and later as an Executive Director at <a href="http://www.columbialegal.org/about">Columbia Legal Services</a>. Aurora is the founder of popUPjustice and advises several social impact startups. She's recognized as an emerging innovator in the ABA 2018 Women in LegalTech</p>
      </li>
      <li class="recent-users__list-item" style="text-align:center">
        <img src="assets/images/dan_round.png" width="120x"/> <br/><br/>
        <h4>Dan Lear</h4>
        <p style="text-align:justify">Dan Lear is a lawyer and legal technology industry innovator. He led industry relations for Avvo, one of the top legal technology success stories. Dan runs his own legal technology consulting practice, Right Brain Law.</p>
      </li>
    </ul>
    
    <ul class="recent-users__list">
      <li class="recent-users__list-item" style="text-align:center">
        <img src="assets/images/jody_round.png" width="120x"/><br/><br/>
        <h4>Jody Coutier</h4>
        <p style="text-align:justify">Jody was a senior manager at Microsoft and then pursued a career in family law. Jody is a frequent speaker on family law topics at Seattle University School of Law, and he is also a member of the Washington State Bar Association Court Rules Committee.</p>
      </li>
      <li class="recent-users__list-item" style="text-align:center">
        <img src="assets/images/jennifer_round.png" width="120x"/> <br/><br/>
        <h4>Jennifer Ortega</h4>
        <p style="text-align:justify">Jennifer is a strong, vocal advocate for low and moderate income clients. She is co-founder and partner at Legal Technician Division, PLLC, where she practices family law in the greater Seattle area.</p>
      </li>
    </ul>
  </div>
</section>

