<div class="white-label-wrapper">
  <!-- N A V B A R -->
  <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon ion-md-menu"></span>
    </button>
    <img src="/assets/logo.png?v=1" class="img-fluid nav-logo-mobile" alt="Company Logo" style="width: 40px; height: 40px;">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="container">
        <div class="logo-desktop">
          <img src="/assets/logo-text-grey.png" class="img-fluid nav-logo-desktop" alt="Company Logo">
        </div>
        <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          <li class="nav-item nav-custom-link">
            <a class="nav-link" routerLink="/white-label">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#marketing" data-section="marketing">Features <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
         <!-- <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#testimonials" data-section="testimonials">Testimonials <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>-->
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#pricing" data-section="pricing">Pricing <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <!--<li class="nav-item nav-custom-link btn btn-demo-small">
            <a class="nav-link" routerLink="/white-label">Try for Free <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- E N D  N A V B A R -->
    
  <!-- H E R O -->
  <section id="hero">
    <div class="container">
      <div class="row">
        

        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <img src="/assets/whitelabel/images/JdivorceWhiteLabelMobile.png" class="img-fluid" alt="Demo image">
        </div>


        <div class="col-md-7 content-box hero-content">
          <span>JDivorce Inside!</span>
          <h1>Upgrade your firms website with family law technology from JDivorce</h1>

          <p>Embed JDivorce's features directly in your own website. Gratify your clients with cutting edge technology. Offer seamless and secure experience.</p>      
          
          <!--<a href="#" class="btn btn-regular">Learn more</a>-->
        </div>
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
  <!-- E N D  H E R O -->

  <!-- E N D  M A R K E T I N G -->
  <section id="marketing">
    <div class="container">
      <div class="row">
        
        <div class="col-md-5">
          <div class="content-box">
            <!--<span>Surveys</span>-->
            <h2>Gather client data online</h2>
            <p>JDivorce provides online surveys to gather client information. The surveys are Turbo-tax-styled i.e. in plain language and for every question provide precise legal information, and detailed articles and video Q&A from lawyers. The question, tool tips and every visible text an be customized</p>
            <!--<a routerLink="/white-label" class="btn btn-regular">Start Free Trial</a>-->
          </div>
        </div>
       
        <div class="col-md-7">
            <img src="/assets/whitelabel/images/OnlineQuestionnaire.png" class="img-fluid" alt="Demo image">
        </div>

      </div>  <!-- end row -->
    </div> <!-- end container -->
  </section>
  <!-- E N D  M A R K E T I N G -->

   <section id="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <!--<span>Surveys</span>-->
            <h2>Generate Court Forms</h2>
            <p>JDivorce can populate Washington family law forms with the client data gathered. The forms can be downloaded as Microsoft Word, Adobe PDF or Google Document formats. The court forms are updated weekly to get the latest revisions from individual county clerks. All Washington counties are supported.</p>
            <!--<a routerLink="/white-label" class="btn btn-regular">Start Free Trial</a>-->
          </div>
        </div>
        <div class="col-md-7">
            <img src="/assets/whitelabel/images/courtForms.png" class="img-fluid" alt="Demo image">
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  COURT FORMS -->



   <section id="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <!--<span>Surveys</span>-->
            <h2>Inline Q&A</h2>
            <p>Clients can add questions for lawyer as they step through the surveys. Later the lawyer (you) can address all questions in one go, and additionally leave more comments. Inline Q&A allow for precise context-specific discussions for efficiency.</p>
            <!--<a routerLink="/white-label" class="btn btn-regular">Start Free Trial</a>-->
          </div>
        </div>
        <div class="col-md-7">
            <img src="/assets/whitelabel/images/inline-qa.jpg" class="img-fluid" alt="Demo image">
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  Inline Q&A -->


 <section id="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <!--<span>Surveys</span>-->
            <h2>Appointment booking</h2>
            <p>Link your Google calendar so clients can automatically book appointments and designate rules for automated appointment booking. You can customize many aspects such as duration, minimum time between appointments, and minimum advanced required.</p>
            <!--<a routerLink="/white-label" class="btn btn-regular">Start Free Trial</a>-->
          </div>
        </div>
        <div class="col-md-7">
            <img src="/assets/whitelabel/images/bookAppointments.png" class="img-fluid" alt="Demo image">
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  Appointments-->

  <section id="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <!--<span>Surveys</span>-->
            <h2>Infogrpahics</h2>
            <p>The answer to your client's question: "how long is it gonna take" can be a beautiful graphic. JDivorce lets users self generate process visualizations based on case characteristics, and the county rules. Visualizations consistse of a series of steps. Each step consists of what needs to be done, who needs to do it, the fees, the duration and the court forms required</p>
            <!--<a routerLink="/white-label" class="btn btn-regular">Start Free Trial</a>-->
          </div>
        </div>
        <div class="col-md-7">
            <img src="/assets/whitelabel/images/infographicSample.png" class="img-fluid" alt="Demo image">
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  Infographics-->


  <section id="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <!--<span>Surveys</span>-->
            <h2>SMS Reminders</h2>
            <p>JDivorce creates a list of reminders for the clients based on their case schedule issued by the court clerks. You can customize, enable/disable these reminders. These provided an added level of service to your clients without any work for the lawyer's staff</p>
            <!--<a routerLink="/white-label" class="btn btn-regular">Start Free Trial</a>-->
          </div>
        </div>
        <div class="col-md-7">
            <img src="/assets/whitelabel/images/textReminder.png" class="img-fluid" alt="Demo image">
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  Reminders-->


   <section id="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <!--<span>Surveys</span>-->
            <h2>All Cases and Upcoming Tasks</h2>
            <p>JDivorce provides a dashboard where the lawyer can see all in progress cases. These can be then grouped by complexity (e.g. with children or contested). Lawyer can also see all upcoming important dates across all cases. </p>
            <!--<a routerLink="/white-label" class="btn btn-regular">Start Free Trial</a>-->
          </div>
        </div>
        <div class="col-md-7">
            <img src="/assets/whitelabel/images/clientCasesSnapshot.png" class="img-fluid" alt="Demo image">
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  Reminders-->

  

  

  <!-- P R I C I N G -->
  <section id="pricing">
    <div class="container">
      <div class="title-block">
        <h2>Plans and Pricing</h2>
        <p>The best software to gratify clients</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="pricing-box">
            <h3 class="demo">Basic Version</h3>
            <h6>Free</h6>
            <small>forever</small>
            <!--<p>Demo gives you full access to all features for 7 days</p> -->
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Online surveys</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Inline Questions and Answers with Clients</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Calendar integration</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Setup reminders for clients</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Online documents for clients to download and print</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>24x7 Customer Support based in Seattle</li>
              
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-demo">Select</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Acquire Clients</h3>
            <h6>$200</h6>
            <small>per month</small>
            <p>100% money back guarantee. Less than clients means full refund</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Everything in Basic</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>At least 5 new client leads per month</li>
            
              
              
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-buy">Select</a>
            </div>
          </div>
        </div>
        

        <!--<div class="col-md-4">
          <div class="pricing-box">
            <h3>Agency Version</h3>
            <h6>$29</h6>
            <small>per month</small>
            <p>For agencies and businesses with extensive web presence</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Marketing plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Seo reporting tool</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited projects - <span>¡New!</span></li>
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-buy">Buy now</a>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </section>
  <!-- E N D  P R I C I N G -->

  <!-- C A L L  T O  A C T I O N -->
  <section id="call-to-action">
    <div class="container text-center">
      <h2>How it works</h2>
      <div class="title-block">

        <p> Here's a summary </p>
        <ol>
           <li> Select your plan and register </li>
           <li> We will release a special HTML snipped for you. Please ask your website builder to embed the code into your website </li>
           <li> Your website visitors will now see a button on your website to provide data. You can also send clients a link via email.  </li>
           <li> Once your client interacts with JDivorce components, you will receive email notifications </li>
           <li> Login into JDivorce portal to see the details</li>
        </ol>

                <a href="#" class="btn btn-regular">Read More</a>
  
      </div>
    </div>
  </section>
  <!-- E N D  C A L L  T O  A C T I O N -->

  <!--  F O O T E R  -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>JDivorce</h5>
          <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/privacy">Privacy and Terms</a></li>
            <li><a href="/lawyers">Professionals on our network</a></li>
            <li><a href="/for-lawyers">JDivorce Home Page for Professionals</a></li>
            <li><a href="/white-label"></a>White Label Offering</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Help</h5>
          <ul>
            <li><a href="/faqs">FAQs</a></li>
            <li><a href="http://blog.jdivorce.com">Blog</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Resources</h5>
          <ul>
            <li><a href="https://www.courts.wa.gov/forms/?fa=forms.contribute&formID=13">WA Courts</a></li>
            <li><a href="https://www.washingtonlawhelp.org/">WA Law Help</a></li>
            <li><a href="https://www.kcba.org/">King County Bar Association</a></li>
            <li><a href="https://nwjustice.org/">NW Justice Project</a></li>
            <li><a href="https://www.wsba.org/">Washington State Bar Association</a></li>
            <li><a href="https://ocla.wa.gov/">Office of Civic and Legal Aid</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>JDivorce</h5>
          <p>2500 Western Avenue, Suite 722, Seattle Washington 98121.</p>

          <p><a href="mailto:help@jdivorce.com" class="external-links">help@jdivorce.com</a></p>
        </div>
      </div> 
      <div class="divider"></div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
            <a href="https://facebook.com/jdivorcepage/"><i class="icon ion-logo-facebook"></i></a>
            <!--<a href="#"><i class="icon ion-logo-instagram"></i></a>
            <a href="#"><i class="icon ion-logo-twitter"></i></a> -->
            <a href="https://www.youtube.com/channel/UCh6KEujE5TckK40MNrg89AQ/videos?view=0&sort=dd&shelf_id=0"><i class="icon ion-logo-youtube"></i></a>
          </div>
          <div class="col-md-6 col-xs-12">
            <small>2018 &copy; JDivorce</small>
          </div>
      </div>
    </div>
  </footer>
  <!--  E N D  F O O T E R  -->
</div>
