<h2 mat-dialog-title>Important Information</h2>
<mat-dialog-content class="mat-typography">
  <ul>
    <li>
      Everything you print and <strong><i>file</i></strong> at the courthouse will be public record. This means that someone can look up your filed documents by
      typing in your name on a computer in the courthouse, or even internet. There are some exceptions, such as filing medical records under seal.
    </li>
    <li>
      If you are the victim of domestic violence, then you are the <strong><i>"Petitioner"</i></strong
      >. The person you want protection from and are filing against is the <strong><i>“Respondent"</i></strong
      >. The respondent will be given a copy of all the documents you are filing for domestic violence.
    </li>
    <li>
      The filing and outcome of a request for a Domestic Violence Protection Order can have ramifications on other legal proceedings such as family law. Please
      see a lawyer or an advocate at the county court with more questions.
    </li>
    <li>A Domestic Violence Protection Order is just one part of your safety plan. Please consider working with an advocate for additional safety planning.</li>
  </ul>
  <p>You can review this information again on the "Diagnostics" tab on your Domestic Violence Protection Order dashboard.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Proceed</button>
</mat-dialog-actions>
