<section class="term-documentation features privacy-statment privacy-box">
  <div class="container">
    <div class="row">
      <h1>Security at JDivorce</h1>
      <p>
        Security is one of the biggest considerations in everything we do. If you have any questions after reading
        this, or encounter any issues, please <a routerLink="/contact" target="_blank" rel="noopener noreferrer">let
          us know</a>.
      </p>
      <p>
        JDivorce has been audited by a PCI-certified auditor and is certified to PCI Service Provider Level 1. This is
        the most stringent level of certification available in the payments industry. To accomplish this, we make use
        of best-in-class security tools and practices to maintain a high level of security at JDivorce.
      </p>
      <h3>HTTPS and HSTS for secure connections</h3>
      <p>JDivorce forces HTTPS for all services using TLS (SSL), including our public website and the dashboard</p>
      <ul>
        <li>JDivorce.com is served only over TLS</li>
        <li>JDivorce connects to it's dependencies over TLS and verify TLS certificates on each connection</li>
      </ul>
      <p>We regularly audit the details of our implementation: the certificates we serve, the certificate authorities
        we use, and the ciphers we support. We use <a href="http://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security"
          target="_blank" rel="noopener noreferrer">HSTS</a> to ensure browsers interact with JDivorce only over HTTPS.
        JDivorce is also on the HSTS preloaded lists for both <a href="http://src.chromium.org/viewvc/chrome?view=rev&revision=84125"
          target="_blank" rel="noopener noreferrer">Google Chrome</a> and <a href="https://hg.mozilla.org/mozilla-central/file/289ce72324ce/security/manager/boot/src/nsSTSPreloadList.inc"
          target="_blank" rel="noopener noreferrer">Mozilla Firefox</a>.</p>
      <h3>Encryption of sensitive data and communication</h3>
      <p>
        All card numbers are encrypted at rest with AES-256. Decryption keys are stored on separate machines. None of
        JDivorce’s internal servers and daemons are able to obtain plaintext card numbers; instead, they can just
        request that cards be sent to a service provider on a static whitelist. JDivorce’s infrastructure for storing,
        decrypting, and transmitting card numbers runs in separate hosting infrastructure, and doesn’t share any
        credentials with JDivorce’s primary services (API, website, etc.).
      </p>
      <h3>PGP</h3>
      <p>JDivorce has two PGP keys to encrypt your communications with JDivorce, or verify signed messages you receive
        from JDivorce. Which key you make use of is dependent on the information needing to be transmitted:</p>
      <p>if you’re unfamiliar with PGP, check out <a href="http://gnupg.org/" target="_blank" rel="noopener noreferrer">GPG</a>,
        and start by <a href="http://www.gnupg.org/gph/en/manual.html#AEN84" target="_blank" rel="noopener noreferrer">importing
          a public key</a>.</p>
      <h3>Vulnerability disclosure</h3>
      <p>
        Our security team rapidly investigates all reported security issues. If you believe you’ve discovered a bug in
        JDivorce’s security, please get in touch at <a href="mailto:security@JDivorce.com">security@JDivorce.com</a>
        (optionally using our <a href="https://jdivorce.com/docs/security/pgp-key" target="_blank" rel="noopener noreferrer">general
          PGP key</a>). We
        will respond as quickly as possible to your report. We request that you not publicly disclose the issue until
        it has been addressed by JDivorce.
      </p>
      <p>
        We understand the hard work that goes into security research. To show our appreciation for researchers who help
        us keep our users safe, we operate a reward program for responsibly disclosed vulnerabilities. JDivorce rewards
        the confidential disclosure of any design or implementation issue that could be used to compromise the
        confidentiality or integrity of our users’ data (such as by bypassing our login process, injecting code into
        another user’s session, or instigating action on another user’s behalf).
      </p>
      <p>
        As with most security reward programs, we ask that you use common sense when looking for security bugs.
        Vulnerabilities must be disclosed to us privately with reasonable time to respond, and avoid compromise of
        other users and accounts, or loss of funds that are not your own. We do not reward denial of service, spam, or
        social engineering vulnerabilities. Although JDivorce itself and all services offered by JDivorce are eligible,
        vulnerabilities in third-party applications that use JDivorce are not.
      </p>
      <p>
        As with most security reward programs, there are some restrictions:
      </p>
      <ul>
        <li>We will only reward the first person to responsibly disclose a bug to us</li>
        <li>Any bugs that are publicly disclosed without providing us a reasonable time to respond will not be rewarded</li>
        <li>Whether to reward the disclosure of a bug and the amount of the reward is entirely at our discretion, and
          we may cancel the program at any time</li>
        <li>Your testing must not violate any laws</li>
        <li>We can’t provide you a reward if it would be illegal for us to do so, such as to residents of countries
          under current <a href="https://www.treasury.gov/resource-center/sanctions/Programs/Pages/Programs.aspx"
            target="_blank" rel="noopener noreferrer">U.S. sanctions</a></li>
      </ul>
      <h3>Questions?</h3>
      <p>We're always happy to help with code or other questions you might have! Please <a routerLink="/contact" target="_blank">contact support</a></p>
    </div>
  </div>
</section>