<section class="contact-us m-t-5p">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12  col-xs-12 order-2 text-center text-md-left">
        <h2>
          Contact Us
        </h2>
        <p>
          Send us a message or try first to check the FAQ and find the answer to your question.
        </p>
        <div class="hidden-sm-down have-a-question">
          <h2>Have a question?</h2>
          <p>Our FAQs can help you to find the solution.</p>
          <a class="btn btn-info waves-effect waves-light" routerLink="/faqs">Check FAQ</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 order-2">
        <app-contact-form></app-contact-form>
      </div>
    </div>
    <div class="row m-b-40">
      <div class="hidden-sm-up col-12">
        <div class="text-center">
          <h2>Have a question?</h2>
          <p>Our FAQs can help you to find the solution.</p>
          <a class="btn btn-info waves-effect waves-light" routerLink="/faqs">Check FAQ</a>
        </div>
      </div>
    </div>
  </div>
</section>
