<table mat-table [dataSource]="questionnaires" class="mat-elevation-z8" [style.width]="'100%'">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef><span>Title</span></th>
    <td mat-cell *matCellDef="let questionnaire"><span translate="QUESTIONNAIRES.NAMES.{{ questionnaire.qid }}"></span></td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef><span>Status</span></th>
    <td mat-cell *matCellDef="let questionnaire" class="px-3">
      <mat-chip-list>
        <mat-chip [color]="formStatusColor(questionnaire)" class="dashboard-table-width" selected> {{ statusText(questionnaire) | translate }}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef><span>Action</span></th>
    <td mat-cell *matCellDef="let questionnaire; let i = index">
      <button
        mat-flat-button
        [color]="actionButtonColor(questionnaire)"
        (click)="navigateToQuestionnaire(questionnaire.qid)"
        [disabled]="disableActionButton(i)"
      >
        {{ actionText(questionnaire) | translate }}
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: headerColumns"></tr>
</table>
