<section class="term-documentation features privacy-statment privacy-box">
  <div class="container">
    <div class="row">
      <h1>Terms of Use</h1>
      <h4>Date of Last Revision: August 14th 2017</h4>
      <h4>Welcome to JDivorce.</h4>
      <p>JDivorce's products and services are provided by JDivorce Inc. These terms and conditions of use ("Terms")
        govern your use of JDivorce's websites, mobile applications, products, and services (collectively, the
        "Services"), so please read them carefully .
        By accessing this website or using the Services, you are agreeing to the Terms, JDivorce's Privacy Policy. If
        you have any questions, please contact us at help@jdivorce.com.
      </p>
      <h2>Using our services</h2>
      <p>You may use our Services only if you can form a binding contract with JDivorce. No use of the Services is
        permitted by those under the age of majority in their state of residence. In no event is use of the Services
        permitted by those under the age of 13. If you are using the Services on behalf of any entity, then you are
        agreeing to the Terms on behalf of that entity.</p>
      <p>Using our Services does not give you ownership of any intellectual property rights in our Services or the
        content you access. Except in the context of browsing or accessing our Services in accordance with these Terms,
        you may not use content from our Services unless you obtain permission from its owner or are otherwise
        permitted by law. These Terms do not grant you the right to use any branding or logos used in our Services. Do
        not remove, obscure, or alter any legal notices displayed in or along with our Services.
        Do not use our Services on any mobile device in a way that distracts you and prevents you from obeying traffic
        or safety laws.
      </p>

      <h2>Information on the services</h2>
      <p>Our Services display both JDivorce-created content and content that is not created or developed by JDivorce
        (the "Legal Information"). We may review third party-content to determine whether it is illegal or violates our
        policies, and we may remove or refuse to display content that we reasonably believe violates our policies or
        the law. But we do not routinely screen third-party content that is published via our Services. This includes
        the Legal Information that lawyers post on JDivorce, and we cannot guarantee the accuracy, adequacy or quality
        of any such Legal Information, or the qualifications of those posting it.</p>

      <h2>No formation of an attorney-client relationship</h2>
      <p>The Legal Information found on JDivorce is intended for general informational purposes only and should be used
        only as a starting point for addressing your legal issues. The Legal Information is not the provision of legal
        services, and accessing such information, or corresponding with or asking questions to a lawyer via the
        Services, or otherwise using the Services, does not create an attorney-client relationship between you and
        JDivorce, or you and any lawyer. It is not a substitute for an in-person or telephonic consultation with a
        lawyer licensed to practice in your jurisdiction about your specific legal issue, and you should not rely on
        such Legal Information. You understand that questions and answers or other postings to the Services are not
        confidential and are not subject to attorney-client privilege</p>

      <h2>Legal services for consumers</h2>
      <p>JDivorce is a platform where lawyers unaffiliated with JDivorce can offer information and interact with
        consumers. We provide a number of methods by which you can purchase legal services or have a direct,
        confidential discussion of your legal issues with a lawyer. Although some of these methods involve JDivorce
        processing a transaction on your behalf, in all instances, JDivorce is simply the intermediary in such
        transactions. You are liable for paying the lawyer for the services provided. JDivorce has no liability, either
        primarily or secondarily, for paying the lawyer other than as an agent on your behalf. The fees you pay for
        such services are charged by the lawyer and passed through to the lawyer once services have been rendered. Any
        attorney-client relationship formed as a result of such discussions is between you and the lawyer you speak
        with—not between you and JDivorce. Furthermore, you understand that JDivorce cannot be held responsible for the
        quality or accuracy of any information or legal services provided by lawyers you connect with via JDivorce.</p>

      <h2>Legal advertising and communications</h2>
      <p>It is solely the responsibility of lawyers and law firms to ensure that any information or advertisements they
        post or place on the JDivorce website (including without limitation any Legal Information), and any
        communications they may have with prospective clients through the Services, fully complies with all applicable
        laws and rules of professional conduct, including those concerning the unauthorized practice of law and those
        regulating the form, manner or content of communications with clients, advertising, or other matters</p>

      <h2>Copyright</h2>
      <p>We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according
        to the process set out in the U.S. Digital Millennium Copyright Act.
        If you believe that any material on the Site infringes upon any copyright which you own or control, you may
        file a DMCA Notice of Alleged Infringement with JDivorce's Designated Copyright Agent: help@jdivorce.com
      </p>

      <h2>Software</h2>
      <p>Some of our Services allow you to download client software ("Software") which may update automatically; you
        agree that these Terms will apply to such upgrades. So long as you comply with these Terms, we give you a
        limited, nonexclusive, nontransferable, revocable license to use the Software, solely to access the Services.
        To the extent any component of the Software may be offered under an open source license, we will make that
        license available to you and the provisions of that license may expressly override some of these Terms. Unless
        the following restrictions are prohibited by law, you agree not to reverse engineer or decompile the Services,
        attempt to do so, or assist anyone in doing so.
      </p>

      <h2>Disclaimers and acknowledgements regarding use of legal information</h2>
      <p>While JDivorce strives to provide—and to allow lawyers to provide—useful information regarding lawyers and
        legal services, there are some things that we cannot guarantee. You acknowledge that such information consists
        of third party data and contributions, that there are certain inherent limitations to the accuracy or currency
        of such information, that legal and other information may be incomplete, may contain inaccuracies, or may be
        based on opinion. JDivorce DOES NOT SCREEN SUCH INFORMATION FOR ACCURACY OR RELIABILITY. TO THE FULLEST EXTENT
        PERMITTED BY LAW, JDivorce AND ITS AFFILIATES, SUPPLIERS AND DISTRIBUTORS MAKE NO WARRANTIES, EITHER EXPRESS OR
        IMPLIED, ABOUT THE SERVICES OR SOFTWARE. THE SERVICES AND SOFTWARE ARE PROVIDED "AS IS." JDivorce ALSO
        DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
      </p>

      <h2>Limitation of liability</h2>
      <p>TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT SHALL JDivorce OR ANY OF ITS AFFILIATES, SUPPLIERS AND
        DISTRIBUTORS, OR ANY OF THEIR RESPECTIVE DIRECTORS, EMPLOYEES AND AGENTS, BE LIABLE FOR ANY SPECIAL, INDIRECT
        OR CONSEQUENTIAL DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY
        LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) THE OUTCOME OF ANY LEGAL MATTER;
        (B) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES OR SOFTWARE; (C) ANY CONDUCT OR CONTENT
        OF ANY THIRD PARTY RELATING TO THE SERVICES OR SOFTWARE; OR (D) UNAUTHORIZED ACCESS, USE OR ALTERATION OF LEGAL
        INFORMATION.
      </p>
      <p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF JDivorce, AND ITS AFFILIATES, SUPPLIERS AND
        DISTRIBUTORS, FOR ANY CLAIM ARISING OUT OF OR RELATING IN ANY MANNER TO THE USE OF THE SERVICES OR SOFTWARE, IS
        LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICES TO WHICH SUCH CLAIM RELATES IN THE 12 MONTH PERIOD
        PRECEDING THE FILING OF SUCH CLAIM. IN THE INTEREST OF CLARITY, THIS LIMITATION ALSO APPLIES TO PREMIUM
        SERVICES.
      </p>

      <h2>User posted content &amp; other interactive services or areas</h2>
      <p>JDivorce includes interactive areas in which you may post content and information, including peer endorsements
        and user reviews, questions and answers, comments, photos, and other materials (the "User Content"). You retain
        all rights in, and are solely responsible for, the User Content you post to JDivorce. You are also solely
        responsible for your use of such interactive features, and use them at your own risk. By using any interactive
        feature, you agree to comply with the JDivorce Community Guidelines. We reserve the right to remove or modify
        User Content for any reason, including User Content that we believe violates these Terms or our policies.
        When you post User Content to JDivorce, you give JDivorce and its affiliates a nonexclusive, royalty-free,
        perpetual, irrevocable and fully sublicensable right to use, reproduce, modify, adapt, publish, translate,
        create derivative works from, distribute, perform and display such User Content throughout the world in any
        media. To the extent such content is attached to a profile on the JDivorce platform, the foregoing license
        includes a right to reproduce your profile, and any name, likeness or photograph contained in such profile. If
        you submit feedback or suggestions about our Services, we may use your feedback or suggestions without
        obligation to you.
      </p>

      <h2>Indemnification</h2>
      <p>You agree to defend, indemnify and hold harmless JDivorce, its corporate affiliates, independent contractors,
        service providers and consultants, and each of their respective directors, employees and agents, from and
        against any claims, damages, costs, liabilities and expenses (including, but not limited to, reasonable
        attorneys' fees) arising out of or related to any User Content you post, store or otherwise transmit on or
        through the Services or your use of or inability to use the Services, including without limitation any actual
        or threatened suit, demand or claim arising out of or relating to the User Content, your conduct, your
        violation of these Terms or your violation of the rights of any third party.
      </p>

      <h2>Modifications</h2>
      <p>JDivorce may revise these Terms from time to time, on a prospective basis, and we will always post the most
        up-to-date version on our website. If we determine, in our sole discretion, that a modification to these Terms
        materially affects your rights, we will notify you (by, for example, sending a message to your account email).
        By using or continuing to use or access the Services after any revisions have come into effect, you agree to be
        bound by the revised Terms.
      </p>

      <h2>Applicable law</h2>
      <p>The laws of the State of Washington, excluding its conflict of law provisions, will apply to any disputes
        arising out of or relating to these Terms or the Services.
      </p>

      <h2>Termination</h2>
      <p>Notwithstanding any of these Terms, JDivorce reserves the right, without notice and in its sole discretion, to
        terminate your license to use the Services, and to block or prevent your access to and use of the Services.
        JDivorce reserves the right to refuse service to anyone for any reason at any time. In the event of termination
        of access to the Services for any reason, you have no right to obtain a copy of any data or communications you
        stored or effected via the Services, or any other data.
      </p>

      <h2>Entire agreement</h2>
      <p>These Terms constitute the entire agreement between you and JDivorce with respect to the subject matter of
        these Terms, and supersede and replace any prior version of the Terms. These Terms create no third party
        beneficiary rights.
      </p>

      <h2>Waiver, severability, and assignment</h2>
      <p>JDivorce's failure to enforce a provision of these Terms is not a waiver of its right to do so later. If any
        provision of these Terms is found unenforceable, the remaining provisions of the Terms will remain in full
        effect and an enforceable Term or Terms will be substituted reflecting our intent as closely as possible. You
        may not assign any of your rights under these Terms, and any attempt to do so will be void. JDivorce may assign
        its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated
        with the Services.
      </p>

      <h2>Questions and contact information</h2>
      <p>If you have any question regarding the use of the Site, please refer first to the, FAQ. All other questions or
        comments about the Site or its contents should be directed to help@jdivorce.com
      </p>

    </div>
  </div>


</section>